<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HelloTestNgSuite">
    <test name="HelloWorldTest" preserve-order="true" thread-count="10" parallel="methods">
        <classes>
            <class name="testRunner.getPartybyId"/>
            <class name="testRunner.putPartyTest"/>
            <class name="testRunner.GetPartyByName"/>
        </classes>
    </test>
</suite>